/* CSS Document */
html, body {
	margin: 0;
	padding: 0;
	widht: 100%;
	height: 100%;
	font-size: 13px;
	font-family: 宋体, Arial, Microsoft YaHei, Tahoma;
	
}
textarea {
	resize: none
}
.box {
	width: 1030px;
	margin: 0 auto;
}
.button_area_search {
	height: 30px;
	margin: 5px 0px 0px 0px;
}
.block_10 {
}
.block_10 .block_inner {
	width: 368px;
	height: 140px;
}
.block_10 .block_inner, .block_10 .nav span {
	background: rgb(133,5,187)
} /* 首页区块和内页菜单标题背景色 */
.block_10 .nav span {
	background:#025389;
} /* 首页区块和内页菜单标题背景色 */
.box_inner {
	width: 1000px;
	padding: 0px 15px;
	margin: 0 auto;
}
/* panel_1 */
.panel_1 {
	width: 100%;
	display: inline;
	margin-bottom: 15px;
	height: auto !important;
	float: left;
 	*_float:none;
}
.panel_1 .title {
	margin-bottom: 5px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #3582da;
	background: url(../../../images/title_bg1.gif) no-repeat;
}
.panel_1 .title span {
	padding-left: 15px;
	color: #3582da;
	font-size: 14px;
}
.panel_1 .content {
	clear: both;
}
/* 左右两列布局 */
.col_full {
	width: 100%;
}
.col_left {
	float: left;
	margin-bottom: 10px;
}
.col_right {
	width: 43%;
	float: right;
}
.col_right2 {
	width: 48%;
	float: right;
}
.con_tree ul.tree {
	border: 1px solid #ccc;
	height: 260px;
	overflow: auto;
}
.con_tree .col3_left {
	width: 40%;
	float: left;
	display: inline
}
.con_tree .col3_right {
	width: 40%;
	float: right;
	display: inline
}
.con_tree .col_middle {
	margin-top: 50px;
}
.con_tree .col_left input {
	margin: 8px 0px;
}
.con_tree .col_left .select4 {
	width: 347px;
	height: 23px;
	border: 1px solid #ccc;
	line-height: 23px;
}
p, br {
	line-height: 25px;
}
