/* CSS Document */
html, body {
	margin: 0;
	padding: 0;
	widht: 100%;
	height: 100%;
	font-size: 13px;
	font-family: 宋体, Arial, Microsoft YaHei, Tahoma;
	
}
textarea {
	resize: none
}
.box {
	width: 1030px;
	margin: 0 auto;
}
.button_area_search {
	height: 30px;
	margin: 5px 0px 0px 0px;
}
.block_11 {
}
.block_11 .block_inner {
	width: 368px;
	height: 140px;
}
.block_11 .block_inner, .block_11 .nav span {
	background: rgb(0,83,224)
} /* 首页区块和内页菜单标题背景色 */
.block_11 .nav span {
	background:#025389;
} /* 首页区块和内页菜单标题背景色 */
.box_inner {
	width: 1000px;
	padding: 0px 15px;
	margin: 0 auto;
}
/* panel_1 */
.panel_1 {
	width: 100%;
	display: inline;
	margin-bottom: 15px;
	height: auto !important;
	float: left;
 	*_float:none;
}
.panel_1 .title { float:left;
	margin-bottom: 5px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #3582da;
	background: url(../../../images/title_bg1.gif) no-repeat;
}
.panel_1 .title span {
	padding-left: 15px;
	color: #3582da;
	font-size: 14px;
}
.panel_1 .title2 {
	margin-bottom: 5px;
	width: 100%;
	height: 25px;
	line-height: 25px;
	color: #3582da;
}
.panel_1 .title2 span {
	padding-left: 0px;
	color: #3582da;
	font-size: 14px;
}
.panel_1 .content {
	clear: both;
}
.panel_1 .content table {
	margin-bottom: 10px;
}
.panel_1 .content table th {
	margin-bottom: 10px;
	line-height: 28px;
}
.panel_1 .content table td {
	line-height: 23px;
	padding: 4px 4px 4px 0px;
 	*line-height:21px;
 	*padding-top:2px;
}
.table_content table td {
	padding-left: 5px !important;
}
.panel_1 .content h1 {
	line-height: 25px;
}
.td1 {
	width: 209px;
}
.td2 {
	width: 137px;
}
.td3 {
	width: 71px;
}
.td4 {
    width: 345px;
}
.td5 {
	width: 113px;
}
/* 左右两列布局 */
.col_full {
	width: 100%;
}
.col_left {
	float: left;
}
.col_right {
	width: 43%;
	float: right;
}
.col_right2 {
	width: 48%;
	float: right;
}
.auto_width {
	width: 98%;
}
textarea.auto_width {
	width: 99%;
}
.search_item {
	float: left;
	_height: 60px;
	margin: 0 5px;
	margin-bottom: 10px;
}
.con_search span.search_item h1 {
	height: 20px;
	font-size: 13px;
	font-weight: normal;
}
span.search_item input, span.search_item select {
}
.search_item .btn, .search_item .btn2 {
	position: relative;
	top: -3px;
}
.button_area_default {
	float: left;
}
.con_table {
}
.con_table table {
	background: #fff;
}
.con_table .table1 input {
	position: relative;
	top: 1px;
	vertical-align: text-top;
}
.con_table .table1 thead {
	text-align: left;
}
.con_table .table1 thead th {
	padding: 0 5px;
}
.table1 thead tr {
	background: #e6ebf2;
}
.con_table .table1 tfoot {
	text-align: left;
	display: none;
}
.con_table .table1 tfoot td {
	text-align: left;
	padding: 0 3px;
}
.con_table .table1 td {
	text-align: left;
	padding: 0 3px;
}
.table1 {
	text-align: center;
	border: 0px solid #d9d9d9 !important;
	border-collapse: collapse;
 	*table-layout:fixed;
	_table-layout: fixed;
}
.table1 thead th {
	color: #666;
	font-weight: normal;
	border: 1px solid #d9d9d9;
	text-align: left;
	padding: 0 3px;
}
.table1 thead th .checkbox, td.align_center .checkbox {
	position: relative;
	top: 1px;
}
.table1 tbody td {
	border: 1px solid #d9d9d9;
	padding: 0 3px !important;
}
.table1 tfoot td {
	background: #e7edf5;
	height: 21px;
	border: 1px solid #d9d9d9;
}

.tablescroll table, .tablescroll div {
	width: 100% !important;
}
.tablescroll_head {
	margin-bottom: -1px !important;
	border-bottom: 1px solid #d9d9d9;
}
.tablescroll_wrapper {
	border-top: 1px solid #d9d9d9 !important;
	border-bottom: 1px solid #d9d9d9;
}
.tablescroll_wrapper table {
	border-top: 0px !important;
	border-bottom: 0px !important;
	margin-bottom: 0px !important;
}
.tablescroll_wrapper tr.first td {
	border-top: 0px !important;
	border-bottom: 0px !important;
}
.tablescroll_wrapper tr.last td {
	border-bottom: 0px !important;
}
table.tablescroll_head thead {
	text-align: left;
}
table.tablescroll_head thead th {
	height: 32px;
	color: #1A5F9B;
	font-weight: normal;
	border: 1px solid #d9d9d9;
	text-align: left;
	padding: 0 5px;
}
table.tablescroll_wrapper tbody td {
	height: 32px;
	border: 1px solid #d9d9d9;
}
table.tablescroll_foot tfoot td {
	text-align: left;
	padding: 0 3px;
}
table.tablescroll_foot td {
	text-align: left;
	padding: 0 3px;
}
.l {
	float: left;
}
.statistics_box {
	margin: 0 auto;
	width: 800px;
	height: 396px;
}
.statistics_title {
	float: left;
	padding-top: 5px;
	width: 82px;
	height: 28px;
	background-image: url(../../../images/img/statistics/statistics_title.gif);
	margin-left: 30px;
	font-size: 16px;
	color: #1e70cd;
	text-align: center;
}
.statistics_menu {
}
.statistics_menu_box1 {
	float: right;
	height: auto;
	margin-top: 15px;
	_margin-top: 14px;
	margin-right: 20px;
}
.statistics_menu_box1 ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.statistics_menu_box1 li {
	float: left;
	margin: 0 10px;
	padding-top: 5px;
}
.statistics_menu_box1 li a:visited {
	color: #999;
}
.statistics_menu_box1 li a:link {
	color: #999;
}
.statistics_menu_box1 li a:hover {
	color: #6d85bf;
	text-decoration: none;
}
#statistics_menu_btn1 {
	float: left;
	width: 69px;
	height: 24px;
	font-size: 14px;
	padding-top: 5px;
	color: #236BDE;
	font-weight: bold;
	text-align: center;
	background-image: url(../images/player_bottom_menu_bg.gif);
	background-repeat: no-repeat;
}
#statistics_menu_btn1 a:visited {
	color: #236BDE;
}
#statistics_menu_btn1 a:link {
	color: #236BDE;
}
#statistics_menu_btn1 a:hover {
	color: #236BDE;
}
#statistics_menu_btn2 {
	background-image: url(../../../images/tab_btn_bg.gif);
	float: left;
	height: 27px;
	_height: 26px;
	margin-top: 1px;
	_margin-top: 2px;
	background-color: white;
	font-size: 14px;
	padding-top: 0px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	color: #236BDE;
	font-weight: bold;
	text-align: center;
	_width: auto !important;
	_width: 50px;
	white-space: nowrap;
}
#statistics_menu_btn2 a {
	display: block;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	padding-left: 5px;
	_padding-left: 5px;
	_text-align: center;
	padding-right: 5px;
	color: #236BDE;
	height: 100%;
}
#statistics_menu_btn2 a a:visited {
	color: #236BDE;
}
#statistics_menu_btn2 a a:link {
	color: #236BDE;
}
#statistics_menu_btn2 a:hover {
	color: #236BDE;
}
.statistics_head {
	float: left;
	margin: 0 auto;
	width: 796px;
	height: 44px;
	_height: 10px;
	background-image: url(../../../images/img/statistics/statistics_tab_line.gif);
}
.statistics_content {
	float: left;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	width: 774px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto !important;
	background-color: #fcfcfc;
	border-bottom: 1px solid #d6d6d6;
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
}
.statistics_content ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 774px;
	word-break: normal;
}
.statistics_content li {
	float: left;
	font-size: 12px;
	padding-right: 10px;
	*padding-right:5px;
	_padding-right: 5px;
	margin-top: 10px;
	white-space: nowrap;
}
.statistics_content li span {
	font-size: 12px;
}
.statistics_icon {
	float: right;
	margin-top: 3px;
	_margin-top: 5px;
	margin-right: 0;
}
.icon_del2 {
	background: url(../images/icon/icon_del2_normal.png) no-repeat center center;
	width: 19px;
	height: 19px;
	display: inline-block;
	position: relative;
	*position:static;
	top: 3px;
	*top:-2px;
	padding: 0 3px;
	z-index: 200;
}
.statistics_content_title {
	float: left;
	font-size: 16px;
	width: 100%;
	text-align: center;
}
.statistics_content_info {
	float: left;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	line-height: 30px;
}
.statistics_content_info span {
	color: #b0b0b0;
	font-size: 12px;
}
.statistics_num_bg_left {
	width: 9px;
	height: 18px;
	margin-top: 1px;
	background-image: url(../../../images/img/statistics/statistics_num_bg_left.gif);
}
.statistics_num_bg_mid {
	line-height: 18px;
	font-size: 11px;
	height: 18px;
	_height: 19px;
	padding-left: 8px;
	padding-right: 8px;
	background-image: url(../../../images/img/statistics/statistics_num_bg_mid.gif);
	margin-top: 1px;
}
.statistics_num_bg_right {
	width: 3px;
	height: 18px;
	margin-top: 1px;
	background-image: url(../../../images/img/statistics/statistics_num_bg_right.gif);
}
.statistics_search_box {
	float: left;
	width: 774px;
	height: auto;
	margin-top: 8px;
}
.statistics_search_icon {
	margin-top: 3px;
	margin-right: 5px;
	width: 17px;
	height: 21px;
	background-image: url(../../../images/img/statistics/statistics_search_icon.gif);
}
.statistics_search_title {
	font-size: 15px;
	color: #000;
	height:20px;
	text-indent:15px;
	margin:10px 0;
	float:left;
	background:url(../../../images/t_bg.gif) no-repeat;
}
.statistics_search_con {
	float: left;
	width: 774px;
	height: auto;
	_margin-bottom: 5px;
	margin-top: 7px;
}
.statistics_search_con span {
	position: relative;
	*bottom:5px;
	_bottom: 5px;
}
.statistics_search_con input {
	height: 22px;
	line-height: 22px;
} 
