/******************************
链接文字(蓝灰)：				#1A5F9B
蓝色文字(表格内文字hover)：	#3582da;
亮蓝色文字：					#00ffea;
表格行hover背景：			#cef7ff;
子标题蓝色竖条：				64B4FF


橙色文字：	color:#fea800
红色：#ff4200;

黑色文字：	color:#555;
灰色文字：	color:#aaa;

button灰框：#cccccc;
button黄框：#fea800;
button蓝色框：#236bde;
button亮蓝色框：#01c1ff; (可用上面亮蓝色)

tab bg:#64b4ff;
******************************/
@import "editor.css";
/*@import "login.css";
@import "home.css";*/
@import "button.css";
@import "dialog.css";
@import "highlight.css";
@import "popup.css";

* { padding:0; margin:0;}
html,body {margin:0; padding:0;widht:100%; height:100%;font-size:13px; font-family:宋体, Arial,Microsoft YaHei, Tahoma; 
/*background:url(../images/line_bg.jpg) center repeat-y;*/	}
/*_html {overflow-y:auto; background:#fff !important;}*/
/*html,body,table,td,li,a,input,select { line-height:25px;}
div {line-height:25px;}*/

div {padding:0px;margin:0;}
img {border:0;}

table {border-collapse:collapse; margin:0; padding:0;}
td {text-align:left; color:#444;}

/******************************/
/*A样式*/
a,a:link {
	color: #1994D0;
	text-decoration: none;
}
a:visited {
	color: #1994D0;
}
a:hover {
	color: #2B79AD;
	cursor: pointer;
	text-decoration: underline;
}
a:active {
	color: #1994D0;
}

/*p, br { line-height:25px;}ddf 20131213删除原因 影响了后台 人工评卷 按题评分里的 试题列表的 选项排列样式 */
li {padding:0px; margin:0px; text-decoration: none;}
ul {padding:0px; margin:0px; text-decoration: none;}
ol li {margin-left:22px;}
h1,h2,h3,h4,h5 {font-size:13px; font-weight:normal; margin-bottom:5px;}
/*2012 11 27 update  bottom:2px;-->  bottom:-1px;*/
input {line-height:22px; position:relative; bottom:-1px; padding:0; margin-right: 5px;}
select {position:relative; bottom:2px; border:1px solid #ccc; }

.exam_fill input, .exam_fill select {bottom:0px;}

.radiobox, .checkbox {/* width:25px !important; */ margin: 0 2px; position: relative; vertical-align: middle; *border:none;}
label {margin-right:5px; *margin-right:0px; _margin-right:0px; /* display:inline-block;  2012 11 23 margin-right:10px;-> margin-right:5px; add _margin-right:0px; *margin-right:0px; */}
span {/* margin-right:10px; */ /* display:inline-block; */}
a span {margin-right:0px;}
a span:hover { text-decoration:none;}

.disable { background:#f8f8f8; border:1px solid #e9e9e9; color:#999999;}
label input {margin-right:3px !important; margin-left:5px;}

/******************************/

/* 使用表格做内容纵向居中容器 */
.layout_table {width:100%; height:100%; border-collapse:collapse; border-spacing:0;}

/******************************/
.indent_1 { text-indent:18px;}
.indent_2 { text-indent:2em;}
.float_left {float:left !important;}
.float_right {float:right !important;}

.align_left {text-align:left;}
.align_right {text-align:right;}
.align_center {text-align:center !important;}
.align_top { vertical-align:top;}
.align_bottom { vertical-align:bottom;}

.none {display:none !important;}
.hidden { visibility:hidden !important;}
.no_padding {padding:0 !important;}
.no_margin {margin:0 !important;}
.no_margin_right {margin-right:0 !important;}
.clear { clear:both !important;}
.no_scroll { overflow:hidden !important;}
.no_scroll_x { overflow-x:hidden !important;}
.no_scroll_y { overflow-y:hidden !important;}
.no_bg { background-image:none !important;}
.scroll_x_auto {overflow-x:auto !important;}
.scroll_y_auto {overflow-y:auto !important;}

.color_red { color:#cd0000;}
.color_green { color:#319600;}
.color_blue { color:#4889f1;}

/******************************/

.input { width:98%; height:20px; border:1px solid #ccc; line-height:18px;}
.input_num { width:50px; height:20px; border:1px solid #ccc; line-height:18px;}
.input1 {
	width:60px;
	height:20px;
	border:1px solid #ccc;
	line-height:18px;
}
.input2 { width:100px; height:20px; border:1px solid #ccc; line-height:18px;}
.input3 { width:120px; height:20px; border:1px solid #ccc; line-height:18px;}
.input4 { width:263px; height:20px; border:1px solid #ccc; line-height:18px;}
.input5 { width:320px; height:20px; border:1px solid #ccc; line-height:18px;}
.input6 { width:330px; height:20px; border:1px solid #ccc; line-height:18px;}
.input7 { width:392px; height:20px; border:1px solid #ccc; line-height:18px;}
.input70{ width:392px; *width:350px; height:20px; border:1px solid #ccc; line-height:18px;}
.input3-5{width:190px; height:20px; border:1px solid #ccc; line-height:18px;} 


.select1 { width:60px;}
.select2 { width:100px;}
.select3 {width:120px; *width:100px;}
.select4 { width:263px;}
.select5 { width:325px;}

textarea:hover {border:1px solid #42a7f4;}
textarea { border:1px solid #ccc; line-height:23px; padding:0 3px; resize:none;}
.textarea1 {width:100px;}
.textarea2 {width:200px;}
.textarea3 {width:300px;}
.textarea4 {width:400px;}
.input_sort {width:20px; text-align:center; height:20px; border:1px solid #ccc; line-height:23px;}
.input1:hover, .input2:hover, .input3:hover, .input4:hover, .input5:hover {border:1px solid #42a7f4; }
.select1:hover, .select2:hover, .select3:hover, .select4:hover, .select5:hover {border:1px solid #42a7f4;}


td .input_sort { position:relative; top:0px;}
td input, td textarea {/* margin-top:3px */;}
textarea {font-size:13px; font-family:宋体;}

hr { height:1px;border-width:0; color:#ddd; background-color:#ddd; margin:5px 0;}

.line_h { height:1px; border-bottom:1px solid #ddd;}
.line_h .item_num { position:relative; top:9px;}
/******************************/
/* 3列自动布局 */
div.col_box {float:left; width:100%; margin:5px 0;}
div.col_middle { width:15%; margin:0 auto; /* background:#66CCFF; */}
div.col3_left {
	float:left;
	width:40%;
	/* [disabled]margin-left:-100%; */
	margin-top: 10px;
	/* background:#FCF; */
}

div.col3_right {
	float:right;
	width:40%;
	margin-left:-40%;
	margin-top: 10px;
	/* background:#00CCCC; */
}


/* 左右两列布局 */
.col_full 	{width:100%;float:left; }
.col_left 	{
	/* [disabled]width:50%; */
	float:left;
}
.col_right	{width:48%; float:right;}
.col_right2	{width:48%; float:right;}

.box {width:1030px; margin:0 auto;}
.box_inner {width:1000px; /* background:#fff;  padding:0px 15px;*/ margin:0 auto;}

/* 下拉编辑面板 */
.edit_text_box {
	display:none; background:#f8f8f8; padding:4px; margin-left:-4px; margin-top:-28px;  position:absolute;  z-index:9999; width:300px;
	border:1px solid #c8c8c8; box-shadow: 0 0 10px rgba(0, 0, 0, .3);-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.edit_text_box textarea {width:97% !important;}
.edit_text_box .button_area_search {height:30px; margin:5px 0px 0px 0px;}

.toolbar_top .col_full { line-height:35px;}

/******************************/

/*.header { width:100%; height:138px;  margin-bottom: 20px;}
.header_top { width:100%;height:90px; }
.header_title{font-size:20px}
.header_left { float:left; width:570px;height:64px; padding-top:27px; overflow:hidden; margin:0px auto; }
	.logo { width:100%; height:24px; line-height:24px; padding-left:30px; font-size:13px; color:#a0a0a0; background:url(../images/oT_logo_s.png) no-repeat;    }
	.logo img { position:relative;top:5px; padding-right:5px;}
	.top_link { font-size:15px; color:#a0a0a0; line-height:35px; margin-top: 5px;}
	.top_link a,.top_link a:link { font-size:15px; color:#a0a0a0; text-decoration:none; margin:0 10px; }
	.top_link a:visited { color:#a0a0a0; text-decoration:none;}
	.top_link a:hover	{ color:#3582da !important; cursor:pointer; text-decoration:none; border-bottom:2px solid #236bde;}
	.top_link .current	{ color:#3582da !important; cursor:pointer; text-decoration:none; border-bottom:2px solid #236bde;}
	.top_link a:active { color:#a0a0a0; text-decoration:none;}
	
.header_right { float:right; width:350px; height:64px; padding-top:27px;overflow:hidden; margin:0px auto;}
	.user_info { width:290px; height:64px; float:left;  text-align:right; padding-right:10px;}
	.user_info a,.user_info a:link { color:#a0a0a0; text-decoration:none; padding-left:23px; }
	.user_info a:visited { color:#a0a0a0; text-decoration:none;}
	.user_info a:hover	{ color:#3582da !important; cursor:pointer; text-decoration:underline !important;}
	.user_info a:active { color:#a0a0a0; text-decoration:none;}
	
	.user_photo { width:42px; heigth:42px; float:right; border:1px #888888 solid; margin:0 atuo; }*/
/*顶部*/
.header_top {
	width: 100%;
	min-height: 90px;
	*height: 90px;
}
.header_title {
	float: left;
	font-size: 20px
}
.header_left {
    float: left;
	width:650px;
	padding-top:15px; 
}
.logo {
	width: 100%;
	height: 24px;
	line-height: 24px;
	padding-left: 30px;
	font-size: 13px;
	color: #a0a0a0;
	background: url(../images/oT_logo_s.png) no-repeat;
}
.logo img {
	position: relative;
	top: 5px;
	padding-right: 5px;
}
.top_link {
	float: left;
	width: 650px;
	font-size: 15px;
	color: #a0a0a0;
	line-height: 35px;
	margin-top: 10px;
}
.top_link .current {
	color: #3582da !important;
	cursor: pointer;
	text-decoration: none;
	border-bottom: 2px solid #236bde;
}
.top_link a:active {
	color: #a0a0a0;
	text-decoration: none;
}
.header_right {
	float: right;
	width: 350px;
	height: 64px;
	padding-top: 27px;
	overflow: hidden;
	margin: 0px auto;
}
.user_info {
	width: 290px;
	height: 64px;
	float: left;
	text-align: right;
	padding-right: 10px;
}
.user_info a, .user_info a:link {
	color: #a0a0a0;
	text-decoration: none;
	padding-left: 23px;
}
.user_info a:visited {
	color: #a0a0a0;
	text-decoration: none;
}
.user_info a:hover {
	color: #3582da !important;
	cursor: pointer;
	text-decoration: underline !important;
}
.user_info a:active {
    color: #a0a0a0;
	text-decoration: none;
}
.user_photo {
	width: 42px;
	heigth: 42px;
	float: right;
	border: 1px #888888 solid;
	margin: 0 atuo;
}
	

/*------------df 过渡版样式修改 20130823 开始-------------*/
/*------折叠导航菜单--------*/
.exp {
	position: absolute;
	left: 45%;
	margin-left: 400px;
	margin-top: -10px;
	_margin-top: -18px;
	z-index: 100000
}
.exp a.t1 {
	padding-right: 18px;
	line-height: 16px;
	height: 16px;
	background: url(../images/icon/icon_add_over.gif) right no-repeat;
	width: 140px;
	color: #565656;
	text-align: right;
	text-decoration: none;
	display: block;
}
.exp a.t1:hover {
	padding-right: 18px;
	line-height: 16px;
	height: 16px;
	background: url(../images/icon/icon_del_over.gif) right no-repeat;
	text-decoration: none;
	color: #1694D1;
	text-align: right;
}
.exp #expmenu {
	position: absolute;
	right: 0px;
	top: 15px;
 *top: 13px;
	width: 840px;
	border: #CCC 1px solid;
	background: #FFF;
	display: none
}
.exp #expmenu iframe {
	filter: mask();
	position: absolute;
	top: 0;
	left: -1px;
	background: #FFF;
	height: 400px;
	width: 840px;
	z-index: -1;
	border: none;
}
.subcon {
	border-bottom: #999 dashed 1px;
	height: 100px;
	padding-bottom: 10px;
}
.subcon dl {
	float: left;
	width: 200px;
	padding-left: 10px;
	display: inline;
	padding-top: 10px;
}
.subcon dt {
	text-align: left;
	font-size: 13px;
	color: #000;
	font-weight: bold;
	padding-left: 10px;
	background: url(../../../images/icon/icon12.gif) no-repeat 3px 9px;
	text-indent: 3px;
	line-height: 25px;
}
.subcon dd {
	float: left;
	padding-left: 10px;
	background: url(../../../images/icon/icon_dot1.png) no-repeat 0 3px;
	text-indent: 3px;
	display: inline;
	white-space: nowrap;
	line-height: 25px;
}
.subcon dd a,.subcon dd a:link,.subcon dd a:visited{
	color: #666;
}
.subcon dd a:hover {
	color: #1694D1;
	cursor: pointer;
	/*border-bottom: 1px solid #1694D1; ddf 20140112删除*/
}
.header {
	width: 100%;
	margin-bottom: 20px;
	_margin-bottom: 10px;
}
.top_link a, .top_link a:link {
	font-size: 15px;
	color: #565656;
	text-decoration: none;
	margin: 0 10px 0 0;
}
.top_link a:visited {
	color: #565656;
	text-decoration: none;
}
.top_link a:hover {
	color: #1994D0 !important;
	cursor: pointer;
	text-decoration: none;
	border-bottom: 2px solid #1994D0;
	_text-decoration: underline;
}
/* 顶部导航菜单 */
.nav {
	width: 990px;
	height: auto;
	float: left;
	margin-bottom: 20px;
	clear: both;
	margin-top: 10px;
	background: #589BC8;
	color: #fff;
}
.nav span {
	float: left;
	display: block;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	background: #025389;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.nav ul {
	float: left;
	height: auto;
	list-style: none;
}
.nav ul li {
	float: left;
	height: 32px;
	line-height: 32px;
	padding-left: 0px;
}
/* 内页颜色主题与首页区块(block)要相同，颜色值在home.css中统一控制 */
.user_info a:link {
	color: #565656;
	text-decoration: none;
	line-height: 32px;
}
.nav ul li a {
	float: left;
	color: #fff;
	text-decoration: none;
	height: 32px;
	line-height: 32px;
	padding: 0 8px;
	display: inline-block;
}
.nav ul li a:visited {
	color: #fff;
	text-decoration: none;
}
.ihover, .nav ul li a:hover {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	border-bottom: none;
	background: #2B79AD;
}
.nav ul li a:active {
	color: #fff;
	text-decoration: none;
}
.ihover {
	cursor: pointer;
	text-decoration: none;
	border-bottom: none;
	display: block;
}
/*------------df 过渡版样式修改 20130823-------------*/
.w55 {
	width: 55px;
}
/*------------df 过渡版样式修改 20130823 结束-------------*/

    .con_search {}
	.con_search .content table td {line-height: 25px; padding: 0 3px;}
/*	.search_item {
	float:left;
	 [disabled]height: 30px;
	height:55px;
	_height:60px;
	margin:0px 5px 10px 0px;
}*/
	/*.con_search span.search_item h1 { height:20px; font-size:13px; font-weight:normal; padding:0 0 5px 0;}
		span.search_item input, span.search_item select {}
	.search_item .btn, .search_item .btn2 { position:relative; top:-3px;}
	.button_area_default{ float:left;}*/
.search_item {
	float: left;
	/*_height: 60px;*/
	margin: 0 5px 10px 0;
	display:inline;
}
.con_search span.search_item h1 {
	height: 20px;
	font-size: 13px;
	font-weight: normal;
}
span.search_item input, span.search_item select {
}
.search_item .btn, .search_item .btn2 {
	position: relative;
	top: -3px;
}
.button_area_default {
	float: left;
}
.inner_box {
	height: 30px;
	margin:0 0 5px;
}
/******************************/
/* panel_1 */
.panel_1 {

	width:100%;
	/* [disabled]overflow:hidden; */
	display:inline;
	margin-bottom: 15px;
	height:auto !important;
	*_float:none; /*2012 11 20 add*/
}
	.panel_1 .title {float:left; margin: 5px 0; width:100%;  height:18px; line-height:18px; color:#3582da; background:url(../images/title_bg1.gif) left no-repeat; overflow:hidden; }
	.panel_1 .title span {padding-left:15px; color:#3582da; font-size:14px;}	

	.panel_1 .title2 {margin-bottom: 5px; width:100%; height:25px; line-height:25px; color:#3582da;}
	.panel_1 .title2 span {padding-left:0px; color:#3582da; font-size:14px;}	

	/*.panel_1 .content { clear:both;}
		.panel_1 .content table { margin:5px 0px; 
	margin-bottom: 10px;
}*/
h1.search_item_title{ padding:5px 0;}/*ddf 20131211*/
select.search_item_select{ clear:both; width:263px;}
input.search_item_input{ position: relative; bottom:3px;}
	/*.panel_1 .content table td {
	line-height: 23px;
	padding: 4px 4px 4px 0px;
*line-height:21px; *padding-top:2px;}*/
		.table_content table td {padding-left:5px !important;}
		.panel_1 .content h1 { /* font-weight:bold; */}

		.td1 {width:209px;}
		.td2 {width:137px;}
		.td3 {width:71px; }

		.td4 {width:345px;}
		.td5 {width:113px;}
	.panel_1 table td span {/* padding-left:15px; */ /* margin-right: 5px; */}
	.panel_1 .content table td .radiobox, .panel_1 .content table td .checkbox {}
	.panel_1 a:link {/* padding:0 3px; */}


.item_q_con .editor_exam {margin-bottom:0 !important;}

/******************************/
/* 表格数据 */
.table1 {} /* 有边框线 */

.con_table {}
	.con_table table { float:left; margin-top:10px; background:#fff;}
	.con_table .table1 input { position:relative; top:1px; vertical-align:text-top;}

	.con_table .table1 thead { text-align:left;}
	.con_table .table1 thead th { padding:0 5px;}

	.table1 thead tr	{background:#e6ebf2;}

	.con_table .table1 tfoot { text-align:left; display:none;}
	.con_table .table1 tfoot td { text-align:left; padding:0 3px;}
	.con_table .table1 td { text-align:left; padding:0 3px;}

	/*.table1 {/* background:#e6ebf2; *//* text-align:center; border:1px solid #d9d9d9 !important; } 2012 11 21 del*/
	/*2012 11 21 uptate  */
	/* add 2012 11 27 table-layout:fixed;*/
	.table1 {/* background:#e6ebf2; */ text-align:center; border:0px solid #d9d9d9 !important;*table-layout:fixed; _table-layout:fixed;  }
	.table1 thead th { /* height:21px; */
	color:#666;
	font-weight:normal;
	border:1px solid #d9d9d9;
	text-align: left;
	padding:0 3px;
}
		.table1 thead th .checkbox, td.align_center .checkbox {position:relative; top:1px;}
	.table1 tbody td { border:1px solid #d9d9d9; padding:0 3px !important;}
	.table1 tfoot td { background:#e7edf5; height:21px; border:1px solid #d9d9d9;}

	/******************************/
	.tablescroll table, .tablescroll div {width:100% !important;}
	.tablescroll_head {margin-bottom:-1px !important; border-bottom:1px solid #d9d9d9;}
	.tablescroll_wrapper { border-top:1px solid #d9d9d9 !important; border-bottom:1px solid #d9d9d9;}
	.tablescroll_wrapper table { border-top:0px !important; border-bottom:0px !important; margin-bottom:0px !important;}
	.tablescroll_wrapper tr.first td { border-top:0px !important; border-bottom:0px !important;}
	.tablescroll_wrapper tr.last td { border-bottom:0px !important;}

	table.tablescroll_head thead { text-align:left;}
	table.tablescroll_head thead th { height:32px; color:#1A5F9B; font-weight:normal; border:1px solid #d9d9d9; text-align: left; padding:0 5px;}
	table.tablescroll_wrapper tbody td { height:32px; border:1px solid #d9d9d9;}
	table.tablescroll_foot tfoot td { text-align:left; padding:0 3px; }
	table.tablescroll_foot td { text-align:left; padding:0 3px;}

	/******************************/

	.panel_1 .toolbar_top {
		clear: right;
		display: block;
		height: 33px;

	}
		.panel_1 .toolbar_top .left { width:65%; float:left; line-height:25px;}
			.panel_1 .toolbar_top .left p{ line-height: 25px;}
			.panel_1 .toolbar_top .left input{ position: relative; top: 1px;}

		.panel_1 .toolbar_top .right { width:34%; float:right; line-height:30px; text-align:right;}
		.panel_1 .toolbar_top a	{ margin-right:5px; display:inline-block;}
					.toolbar_top .left label{}


	.panel_1 .toolbar_bottom {height:30px;margin-top: 5px;}
		.panel_1 .toolbar_bottom .left { width:43%; float:left; line-height:30px;}
			.panel_1 .toolbar_bottom .left a { margin:0 5px; text-decoration:none; color:#1A5F9B;}
			.panel_1 .toolbar_bottom .left a:hover { margin:0 5px; text-decoration:underline; color:#3582da;}

		.panel_1 .toolbar_bottom .right { width:55%; float:right; line-height:30px;text-align:right;}


.table_content {float:left; width:100%; margin-top:5px; }

.view_item1 { float:left; position:relative;}
.view_item1 a {margin: 0 5px; color:#333;}
.view_item1 a:hover { color:#3582da; text-decoration:underline;}

/******************************/
/* 分页 */
/* 若注释掉text-indent值，则会显示出页面翻页的文字 */
.page_nav {
	height:25px; line-height:25px; display:block; float: right;
}
	.page_nav a {
		width:25px; height:25px; line-height:25px;
		overflow:hidden;
		text-decoration:none;
		padding:2px 10px !important; _padding:2px 0px !important;
		margin:0 5px;
		/* background:#6699FF; */
		_display:inline-block;
	}

	.page_nav .page_num {
		height:25px; line-height:25px;
		text-align:center;
		color:#888;
		padding:0 5px;
		display:inline-block;
		position:relative; _top:-3px;
	}

	.page_nav .page_first 		{ background:url(../images/icon_page/page_first_normal.png) no-repeat center center;}
	.page_nav .page_first:hover { background:url(../images/icon_page/page_first_down.png) no-repeat center center;}

	.page_nav .page_prev		{ background:url(../images/icon_page/page_prev_normal.png) no-repeat center center;}
	.page_nav .page_prev:hover 	{ background:url(../images/icon_page/page_prev_down.png) no-repeat center center;}

	.page_nav .page_next 		{ background:url(../images/icon_page/page_next_normal.png) no-repeat center center;}
	.page_nav .page_next:hover 	{ background:url(../images/icon_page/page_next_down.png) no-repeat center center;}

	.page_nav .page_last 		{ background:url(../images/icon_page/page_last_normal.png) no-repeat center center;}
	.page_nav .page_last:hover 	{ background:url(../images/icon_page/page_last_down.png) no-repeat center center;}


.footer {
	width:100%;
	height:50px;
	line-height:50px;
	float: left;
}
	.footer .left {float:left; position: relative; top: 10px;}
		.footer .left a {margin-right:5px; color:#999; text-decoration:none;}
		.footer .left a:hover {margin-right:5px; color:#3582da; text-decoration:underline;}
	.footer .right {float:right; }
		.footer .right a {
	background:url(../images/logo_footer.png) no-repeat center center;
	width:104px;
	height:50px;
	display:block;
	float:right;
		}


/******************************/
/* css fix ie6 png*/
/*
img, .png {
       position: relative;
       behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
       this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='scale')",
       this.src = "images/blank.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
       this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='scale')",
       this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}
*/



/******************************/
.con_input{} /* 添加或注册等输入内容(分单列、两列) */
	.con_input td, .panel_1 td {/* line-height:25px; padding:3px; */}
	.con_input td img	{padding-right:5px; position:relative; top:2px;}
	.con_input span {}
	.con_input td span input,  .con_input td input.auto_width {width:98%;}
	
		.auto_width {width: 98%;}
		textarea.auto_width {width:99%;}
.con_input .tab_content .col_left tr td .auto_width  {width:98%;}
	
	.con_input td select, .con_input td select.auto_width {/* width:100%; */}

/******************************/

.con_user_photo {}
	.con_user_photo .content {/*  padding-top:15px; */}
	.user_avatar {float:left; border:1px solid #CCC; width:100px; height:100px; margin: 0 10px 10px 0; padding:2px; background:url(../images/user_avatar.jpg) no-repeat center center;}
		.user_avatar img {width:100px; height:100px;  background:#fff; padding:0 !important; top:0 !important;}
	.con_user_photo .left {}
	.con_user_photo .right {float:left; margin-bottom:10px;}
	.con_user_photo .right form {float:left; margin-right:10px;}
	.con_user_photo .right form .btn {margin-left:5px;}
	.con_user_photo fieldset {border:none; display:block;}

.thumb_default_upload {float:left; /* border:1px solid #CCC;  */width:100px; height:100px; margin: 0 10px 10px 0; padding:2px; background:url(../images/thumb_default_upload.png) no-repeat center center;}
.thumb_default_doc {background:url(../images/thumb_default_doc.png) no-repeat center center;}

.thumb_video {background:url(../images/thumb_video.png) no-repeat center center;}
.thumb_music {background:url(../images/thumb_music.png) no-repeat center center;}
.thumb_doc {background:url(../images/thumb_doc.png) no-repeat center center;}
.thumb_swf {background:url(../images/thumb_swf.png) no-repeat center center;}
/******************************/

.action { width:0px; margin:0 !important; padding:0 !important; font-size:0px !important; position:relative; background:none; }
table td.action {padding: 0 !important;}
#action8{width:1px; width:1px\9\0;+width:0px;_border:none; margin:0 !important; padding:0 !important; font-size:0px !important; position:relative;background:none;border-left:1px solid #ccc; border-bottom:none; border-right:none; border-top:none;}

/******************************/
/* 工具条样式2，配合highlight2 */
.highlight2 .action_toolbar { margin-top:-40px;}
.highlight2 .action_toolbar .inner_box { background:#e5eaf9 url(../images/action_toolbar_bg.png) left  repeat-x; border:1px solid #a1bddf; height:23px; _height:21px; }

.highlight2 .action_toolbar .right {
	 width:12px !important; height:12px !important;
	float:right; position:relative; top:24px; right:0px; left:-10px; *left:34px !important;*top:36px  !important; left:-10px\9\0;
	margin:0 !important; padding:0 !important; font-size:0pt !important; z-index:11000;_top:38px;
}


#content-container{ border:1px solid #F60; width:500px; height:400px;}


#fancybox-frame {overflow-x:hidden;} /* 作用：当fancybox弹出层参数中scrolling为yes是会显示X、Y同滚动条，此处CSS则是强制隐藏横向 */

/* tab */
.con_tab {width:100%; margin-top: 5px;}
	.con_tab .tab_title { float:none; width:100%;}
		.con_tab .tab_title a {
			text-align:center; margin-right:6px; float:left; display: inline-block;height:25px; line-height:25px; text-decoration:none;
			background:#64b4ff; color:#fff; border:1px solid #cbdeef;  border-bottom:none; position:relative; top:1px;
			min-width: 75px;   padding: 0 8px;
		}
		.con_tab .tab_title a:hover, .con_tab .tab_title .current {
			margin-right:6px; color:#64b4ff; background:#fff; border:1px solid #cbdeef; border-bottom:none; text-decoration:none;
		}
		
	.con_tab .tab_content { background:#fff; border:1px solid #cbdeef; padding:15px; min-height:130px; overflow:hidden; *display:inline-block;}
		.con_tab .tab_content h1 {}

/******************************/
.con_tree ul.tree {border:1px solid #ccc; height:260px; overflow: auto;}
	.con_tree .col3_left 	{}
	.con_tree .col3_right	{}
	.con_tree .col_middle	{ margin-top:50px;}
	
	.con_tree .col_left input {  margin:8px 0px;}
	.con_tree .col_left .select4 { width: 330px; height:23px; border:1px solid #ccc; line-height:23px;}
.search_key { color:#888; width:390px; border:1px solid#ccc;}

.search_key_normal {color:#999; width:390px; border:1px solid#ccc; height:23px;}
.search_key_out { color:#999; width:390px; border:1px solid#ccc;  height:23px;}
.search_key_down { color:#3582da; width:390px; border:1px solid#ccc; height:23px;}

/******************************/
/******************************/

.thumb { width:25px; height:25px; border:1px solid #ccc; padding:2px !important; background:#fff; position:relative; top:0px !important;}
.more_option {display:none;}


/* icons */
.icon_mark {background:url(../images/icon/icon_mark.png) no-repeat center center; width:19px; height:19px; display:inline-block; position:relative; *position:static; top:3px; *top:-2px; padding:0 3px; z-index:200;}

.icon_edit {background:url(../images/icon/icon_edit_normal.png) no-repeat center center; width:19px; height:19px; display:inline-block; position:relative; *position:static; top:3px; *top:-2px; padding:0 3px; z-index:200;}
a.icon_edit:hover {background:url(../images/icon/icon_edit_over.png) no-repeat center center;}
/* 2012 11 20 del ↓*/
/*.icon_add {background:url(../images/icon/icon_add_normal.png) no-repeat center center; width:19px; height:19px; vertical-align: top; display:inline-block; position:relative; *position:static; top:3px; *top:-2px; padding:0 3px; z-index:200;}*/
/* 2012 11 20 del ↓*/
/* 2012 11 23 modify ↓*/ 
.icon_add {background:url(../images/icon/icon_add_normal.png) no-repeat center center; width:19px; height:19px; vertical-align: top; display:inline-block; position:relative;top:2px; *top:2px; top:1px\9\0; _top:2px; padding:0 3px; z-index:200;}
/* 2012 11 23 modify ↑*/ 
a.icon_add:hover {background:url(../images/icon/icon_add_over.png) no-repeat center center;}
.icon_add_01 { float:left\9\0;background:url(../images/icon/icon_add_over.png) no-repeat center center;width:19px;height:19px;	vertical-align: top;display:inline-block;	position:relative;
*position:static; 	top:3px;
*top:-2px; 	padding:0 3px;
}

.icon_del {background:url(../images/icon/icon_del_normal.png) no-repeat center center; width:19px; height:19px; vertical-align: top; display:inline-block; position:relative; *position:static; top:3px; *top:-2px; padding:0 3px; z-index:200;}
a.icon_del:hover {background:url(../images/icon/icon_del_over.png) no-repeat center center;}

.icon_analysis {background:url(../images/icon/icon_analysis.png) no-repeat center center; width:19px; height:19px; vertical-align: top; display:inline-block; position:relative; *position:static; top:3px; *top:-2px; padding:0 3px; z-index:200;}

.icon_clear {background:url(../images/icon/icon_clear_normal.png) no-repeat center center; width:19px; height:19px; display:inline-block; position:relative; *position:static; top:3px; *top:-2px; padding:0 3px; z-index:200;}
a.icon_clear:hover {background:url(../images/icon/icon_clear_over.png) no-repeat center center;}

.icon_reset {background:url(../images/icon/icon_reset_normal.png) no-repeat center center; width:19px; height:19px; display:inline-block; position:relative; top:3px; *top:-5px; padding:0 3px; z-index:200;}
a.icon_reset:hover {background:url(../images/icon/icon_reset_over.png) no-repeat center center;}

.icon_save {background:url(../images/icon/icon_save_normal.png) no-repeat center center; width:19px; height:19px; display:inline-block; position:relative; top:4px; *top:-5px; padding-left:3px; z-index:200;}
a.icon_save:hover {background:url(../images/icon/icon_save_over.png) no-repeat center center;}

.icon_fold 			{background:url(../images/icon/icon_fold_normal.png) no-repeat center center; width:19px; height:19px; display:inline-block; position:relative; top:3px; *top:-5px; padding:0 3px; z-index:200;}
a.icon_fold:hover	{background:url(../images/icon/icon_fold_over.png) no-repeat center center;}

.icon_expand 			{background:url(../images/icon/icon_expand_normal.png) no-repeat center center; width:19px; height:19px; display:inline-block; position:relative; top:3px; *top:-5px; padding:0 3px; z-index:200;}
a.icon_expand:hover	{background:url(../images/icon/icon_expand_over.png) no-repeat center center;}

.icon_download 			{background:url(../images/icon/icon_download_normal.png) no-repeat center center; width:16px; height:16px; display:inline-block; position:relative; top:3px; *top:-5px; padding:0 3px; z-index:200;}
a.icon_download:hover	{background:url(../images/icon/icon_download_over.png) no-repeat center center;}

.icon_view 			{background:url(../images/icon/icon_view_normal.png) no-repeat center center; width:19px; height:19px; line-height:23px;  display:inline-block; position:relative; top:3px; *top:-5px; padding:0 3px; z-index:200;}
a.icon_view:hover	{background:url(../images/icon/icon_view_over.png) no-repeat center center;}

.icon_filter {background:url(../images/icon/icon_filter_normal.png) no-repeat center center; width:19px; height:19px; display:inline-block; position:relative; top:0px; *top:-5px; padding:0 3px; z-index:200;}
a.icon_filter:hover {background:url(../images/icon/icon_filter_over.png) no-repeat center center;}

.icon_radio_on, .icon_radio_off:hover, .info_icon_1 {background:url(../images/icon/icon_radio_on.gif) no-repeat center center; width:19px; height:19px; display:inline-block; position:relative; z-index:200; position:relative; top:4px; padding: 0 3px;}
a.icon_radio_off {background:url(../images/icon/icon_radio_off.gif) no-repeat center center; width:19px; height:19px; display:inline-block; position:relative; z-index:200; position:relative; top:2px; padding: 0 3px;}

.icon_check_on {background:url(../images/icon/icon_check_on.png) no-repeat center center; width:19px; height:19px; display:inline-block; position:relative; z-index:200;}
a.icon_check_off {background:url(../images/icon/icon_check_off.png) no-repeat center center; width:19px; height:19px; display:inline-block; position:relative; z-index:200;}

.icon_off {background:url(../images/icon/icon_off.gif) no-repeat center center; width:19px; height:19px; display:inline-block; padding:0 3px; position:relative; z-index:200; position:relative; top:2px;}

.icon_error, .info_icon_2	{background:url(../images/icon/icon_error.png) no-repeat center center; width:19px; height:19px; line-height:23px;  display:inline-block; position:relative; top:4px; *top:0px; padding:0 3px; z-index:200;}
.icon_info, .info_icon_3	{background:url(../images/icon/icon_info.png) no-repeat center center; width:19px; height:19px; line-height:23px;  display:inline-block; position:relative; top:4px; *top:0px; padding:0 3px; z-index:200;}

.icon_jump {background:url(../images/icon/icon_jump.png) no-repeat center center; width:20px; height:20px; display:inline-block; position:relative; top:5px; *top:0px; padding:0 3px; z-index:200;}
.icon_home {background:url(../images/icon/icon_home.png) no-repeat center center; width:20px; height:20px; display:inline-block; position:relative; top:5px; *top:0px; padding:0 3px; z-index:200;}

.icon_up			{background:url(../images/icon/icon_fold_normal.png) no-repeat center center; width:16px; height:16px; display:inline-block; margin:0 !important; position:relative; top:3px; *top:-5px; padding:0 3px; z-index:200;}
a.icon_up:hover	{background:url(../images/icon/icon_fold_over.png) no-repeat center center;}

.icon_down			{background:url(../images/icon/icon_expand_normal.png) no-repeat center center;  width:16px; height:16px; display:inline-block; margin:0 !important;  position:relative; top:3px; *top:-5px; padding:0 3px; z-index:200;}
a.icon_down:hover	{background:url(../images/icon/icon_expand_over.png) no-repeat center center;}


.sort_asc			{background:url(../images/icon/sort_asc_normal.png) no-repeat center center; width:16px; height:16px; display:inline-block; position:relative; top:3px; *top:-5px; padding:0 3px; z-index:200;}
a.sort_asc:hover	{background:url(../images/icon/sort_asc_over.png) no-repeat center center;}

.sort_desc			{background:url(../images/icon/sort_desc_normal.png) no-repeat center center; width:16px; height:16px; display:inline-block; position:relative; top:3px; *top:-5px; padding:0 3px; z-index:200;}
a.sort_desc:hover	{background:url(../images/icon/sort_desc_over.png) no-repeat center center;}


.icon_link { margin-right:5px;}
.icon_link span.icon_add{ position:relative; *top:-5px;_top:-5px;}/* add 2012 11 23 */
a.icon_link .icon_del {position:relative; *top:0px;}

.icon_go {background:url(../images/icon/icon_go_normal.png) no-repeat center center; width:20px; height:20px; display:inline-block; position:relative; z-index:200;}
a.icon_go:hover {background:url(../images/icon/icon_go_over.png) no-repeat center center; width:20px; height:20px; display:inline-block; position:relative; z-index:200;}
.icon_up			{background:url(../images/icon/icon_up_normal.png) no-repeat center center; width:20px; height:20px; display:inline-block; position:relative; top:4px; padding:0 3px; z-index:200;}
.~icon_up:hover			{background:url(../images/icon/icon_up_over.png) no-repeat center center;}

.icon_down			{background:url(../images/icon/icon_down_normal.png) no-repeat center center; width:20px; height:20px; display:inline-block; position:relative; top:4px; padding:0 3px; z-index:200;}
.~icon_down:hover			{background:url(../images/icon/icon_down_over.png) no-repeat center center;}

div.table_content table dd {padding-right:22px; margin-top:-25px;}
div.table_content table dd .icon_go, div.table_content table dd .icon_edit {float:right; position:relative; top:26px; right:-24px; }
div.table_content table dd input {}

.tab_icon_btn { position:relative; top: -36px; padding:10px; z-index:1000; width:100px;}
.tab_icon_btn span {float: right;  position: relative; left: 26px; top:-5px; }


.tab_title li {float:left; padding-right:0px; list-style-type:none; display:inline-block;}
.tab_title li a {padding-right:15px !important;}
.tab_title span {float:left !important; width:20px; height:20px; display:inline-block;}
.tab_title span.icon_del { position:relative; top:-7px; right:22px; float:right; margin-right:-22px;}
.tab_title div.icon_del:hover { cursor:pointer;}

.icon_back 	{background:url(../images/icon_page/page_prev_normal.png) no-repeat left center; width:16px; height:19px; line-height:23px;  display:inline-block; position:relative; top:4px; padding:0 5px 0 2px !important; _top:1px; z-index:200; }


/******************************/
.item_q_con td {padding-bottom:0 !important;}

.item_q_col_2 {} /* 两列 */
.item_q_col_2 .item_q { margin-bottom:10px;}
.item_q_col_2 .item_a { margin-bottom:10px;}

.item_q_col_4 {} /* 4列 */
	.item_q_col_4 .item_q .item_box_right textarea {height:100px;}

.padding_left_15px {padding-left:15px !important;}
.padding_right_15px {padding-right:15px !important;}

.margin_left_15px {margin-left:15px !important;}
.margin_right_15px {margin-right:15px !important;}

/******************************/
/* chenxy1 */
.item_q { width:100%; }
.item_q li {
	height:auto;
	float:left;
	display:inline-block;
	margin:0 13px 15px 0;
}
.q_1 li {
	width:48% !important;
}
.q_2 li {width:24% !important; height:200px;}
.item_q li .toolbar_bottom {margin-top:-10px;}



/******************************/
.con_paper {}
	.con_paper table .editor .toolbar { width:97%;}
	.con_paper table  .editor textarea { width:97% !important;}

.mark_block {
	background:#f2f9fc; border:1px solid #b3d8f1;
	display: inline-block;
    /* width: 16px;  */height: 16px; line-height: 16px;
    padding: 3px 7px;
    text-align: center;
	margin-right:10px;
	position:relative; *top:3px;
}

.mark_block_on { 
	background:#edfeeb; border:1px solid #bbf3b5;
	display: inline-block;
    /* width: 16px;  height: 16px; del height: 16px; 2012 12 19 */ line-height: 16px;
    padding: 3px 7px;
    /*text-align: center; 2012 12 19 update*/
    text-align: left;
	margin-right:10px;
	position:relative; *top:3px;
	
}

.item_num { 
	background:#64B4FF; border:1px solid #01C1FF;
	display: inline-block;
    /* width: 16px; */ height: 16px; line-height: 16px;
    padding: 3px 7px;
    text-align: center;
	margin-right:10px;
	position:relative; *top:3px;
	color:#fff;
}


.marking .button_area {margin-top:0px !important;}
.marking .content table {border:1px solid #BDEAF8; border-left:6px solid #BDEAF8; background:#f9f9f9; margin-bottom:15px !important;}
.marking .content table td {padding:0px 0px 0px 5px;}
.marking .content table td textarea {margin-bottom:4px;}

.score_people li {
	list-style-type:none; border:1px solid #BDEAF8; border-left:6px solid #BDEAF8; background:#f9f9f9; float:left; width:16%; margin:0px 10px 10px 0px;
	display:inline-block; padding:10px;
}

.score_people li:hover {border:1px solid #1px solid #01C1FF; border-left:6px solid #64B4FF; background:#fff;}


.table2 {} /* 无边框线 */
	.table2 h2 {float:left; margin-right:30px;display:inline-block;/* height:30px; del 2012 12 19*/line-height:30px;}
	.table2 .mark_item {float:left; margin-right:30px; display:inline-block; line-height:30px;}


table td .btn { vertical-align:middle; /* margin-left:5px; */}
.import_data {}
.import_data tbody {}

.table_head {margin-bottom:-1px !important;}
.table_body { height:190px; overflow-y:scroll; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; position:static;}
.table_body table {border-top:0px !important; border-bottom:0px !important; margin-bottom:-1px !important;}
.table_body table select, .table_body table input { position: static;}
.import_data_view {background:#fff;}
.table_body table tr.first td {border-top:0px !important;}
.table_body table tr.last td {border-bottom:0px !important;}

/******************************/
.question_item {margin:10px 0px; clear: right;	display: block;	height: 33px;}

.question_item .left { width:65%; float:left; line-height:25px;}
.question_item .left p{ line-height: 25px;}
.question_item .left input{ position: relative; top: 1px;}
			
.toolbar_top .right { }
					
.question_item .right {width:34%; float:right; line-height:30px; text-align:right; padding-right:5px; color:#B3D8F1;}
.question_item input {border:0px; margin:0;}
.question_item input:hover {border:0px;}

.item_content { float:left; clear:both; margin-bottom:15px; width:100%;}
.item_content h1{color: #60A2EE;}
.item_content h3{color: #60A2EE; text-align:center;}
.item_content input {margin:0 10px 0 5px;}

.info { width:210px; height:30px; line-height:30px; background:#fee9a1 url(../images/info_bg.jpg) repeat-x bottom; color:#000; border:1px solid #e49600; margin:0 auto; text-align:center; box-shadow:0 2px 4px rgba(0,0,0,0.2);}
.info span { display:none;}
/******************************/
.tag { margin:5px 0px; margin-bottom:15px;}
.tag a { color:#555; text-decoration:underline; border:1px solid #fff; padding:3px;}
.tag a:hover { color:#3582da;}
.tag a.current { color:#3582da; border:1px solid #3582da; background:#64B4FF; color:#fff; text-decoration:none;}

.tip_txt { color:#666;}
.padding_text1 {padding-left:18px;}

.tab_title a input { z-index:9999; position:relative;}
a.btn_txt:hover { text-decoration:underline;} 
label.current {color:#3582da;}
/******************************/
/* 主题标题 & more模块 */
h1.main_title { height:25px; line-height:25px; color:#3582da; background:url(../images/title_bg1.gif) left no-repeat; padding-left: 14px; font-size: 14px;}
/*h1.main_title .left { float:left; height:25px; line-height:25px; color:#3582da; font-size:14px;}*/
/*update 2012 12 05*/
h1.main_title .left { float:left; height:35px; line-height:35px; color:#3582da; font-size:14px;}
h1.main_title .left a { font-size:14px;}
h1.main_title .right { float:right; height:25px; line-height:25px; text-align: right; width: 300px;}
h1.main_title .right a { position:relative;}

/* 更多文字 */
.more_block { display:inline-block; height:25px; line-height: 25px;}
.more_block .more_txt { float:left; margin:0 3px; color:#6d85bf;}
.more_block:hover .more_txt {color:#236BDE; text-decoration:underline;}
.more_block:hover .icon_more { background:url(../images/icon_page/page_next_down.png) no-repeat;}
.icon_more {width:20px; height:20px; background:url(../images/icon_page/page_next_normal.png) no-repeat; display:inline-block; /* float:right; */ position: relative; top:3px;}
.icon_more:hover {background:url(../images/icon_page/page_next_down.png) no-repeat;}

.list_item {/* height:31px; */ line-height:31px; background:url(../images/list_item_bg_over.png) repeat-x;}
.list_item:hover { background:#cef7ff; border:1px solid #9acaff;}
.list_item:hover a, .list_item:hover dt, .list_item:hover dd { color:#3582da;}

.list_item_odd {background:#fff; border:1px solid #e6e6e6;}
.list_item_even {background:#fafafa; border:1px solid #e6e6e6; /* top:-1px; */}
.list_item_current { background:url(../images/list_item_bg_over.png) repeat-x; border:1px solid #b9c9dc;}
.list_item_current a, .list_item_current dt, .list_item_current dd { color:#6686bd;}

div.num {
	width:23px; height:23px; line-height:23px; display:block; float:left;
	margin-right:8px; text-align:center; color:#555;
	background:url(../images/button/btn_normal.png) repeat-x bottom; border:1px solid #cccccc;
	position:relative; left:3px; top: 3px;
}



/* 数据列横向排列：每个DL不分行 */
.data_list_h { /* margin-top:5px; */}
.data_list_h dl {display: block; float: left;  /* clear:left; */ margin:3px; margin-right:10px; margin-left:0;}
.data_list_h dl dt { display:inline-block; float: left; text-align: left; /* width:70px; */}
.data_list_h dl dd {float: left; margin-right: 10px;}
.data_list_h dl dd input {padding-left:3px; position:relative; top: -1px;}

/* 数据列横向排列：文字与搜索框各分一行*/
.data_list_h2 { /* margin-top:5px; */}
.data_list_h2 dl {display: block; float: left;  /* clear:left; */ margin:3px; margin-right:10px; margin-left:0;}
.data_list_h2 dl dt { text-align: left; /* width:70px; */}
.data_list_h2 dl dd {float: left; margin-right: 10px;}
.data_list_h2 dl dd input {padding-left:3px; position:relative; top: -1px;}
/* 数据列纵向排列：每个DL单独一行 */
.data_list_v { /* margin-top:5px; */}
.data_list_v dl {display: block; float: left; clear:left; margin: 3px 10px 0px 0;}
.data_list_v dl dt { display:inline-block; float: left; text-align:left; /* width:70px; */}
.data_list_v dl dd {float: left; margin-right: 10px;}
.data_list_v dl dd input {padding-left:3px; position:relative; top: -1px;}
/* dt尺寸 */
.dt_auto dl dt {width:auto !important;}
.dt1 dl dt {width:93px;}

/* 左右分列1 */
.col_LR {/* height:25px;  */line-height:25px; overflow:hidden;}
.col_LR .inner {}
.col_LR .sidebar {float:right; /* width:200px; margin-left: 200px; */ text-align: right;}
.col_LR .con { margin-right:210px !important; margin-right:210px; height:auto !important;}

/* 左右分列2 */
.col_LR2 {line-height:25px; overflow:hidden;}
.col_LR2 .inner {}
.col_LR2 .sidebar {float:right; text-align:left; width:50%;}
.col_LR2 .con {width:50%;}
.list_item .sub_content {background:#fcfcfc url(../images/sub_content_bg.png) repeat-x bottom;}
.list_item .sub_content .inner {padding:10px;}


.add_plan .sub_content .col_LMR {}

.page_area {margin:20px 0;}
.page_nav_left { text-align:left;}
.page_nav_right { text-align:right;}
.page_nav_center { text-align:center;}
.sub_content .btn_area {margin-top:15px;}

/******************************/
/* 弹出信息框 */
.popup {background:#fefef2; padding:2px; border:1px solid #e5d69a; box-shadow:0 2px 4px rgba(0,0,0,0.2); position:absolute; z-index:9999; margin-top: 5px; }
.popup .left { float:left; font-size:12px;}
.popup .right { float:right; width:21px; height:21px;}
.popup .inner { padding:0 3px !important;}
.popup .more_block { display:inline-block;}
.popup .inner a.link {color:#6d85bf; font-size:12px;}
.popup .inner a {z padding:0 5px; color:#6d85bf; line-height:25px !important; font-size:13px;}
.popup .inner a:hover { text-decoration:underline; color:#236BDE;}

.popup .close_btn 		{display:block; padding:0 !important; width:21px; height:21px; background:url(../images/button/closeBtn_normal.png) no-repeat; position:relative; top:2px;}
.popup .close_btn:hover {background:url(../images/button/closeBtn_down.png) no-repeat;}
.popup .popup_arrow {width:11px; height:17px; display:block; margin-top: -9px; margin-left: 10px; position: absolute;}
.popup .popup_arrow_up {background:url(../images/popup_arrow_top.png) no-repeat;}

.popup_plan {/* margin-left:-93px; */ margin-top:30px; width: 350px;}
.popup_plan .inner {padding:0 3px 3px 3px !important;}
.popup_plan h1 { color:#333; font-size:13px; border-bottom:1px solid #ddd; width:100%; height: 30px; line-height: 30px; padding-left: 2px;}

.popup_plan_list { height:112px; overflow-y:auto; border:1px solid #E6E6E6; padding: 3px; margin-bottom: 5px;}
.popup_plan_list dl dt {width:auto !important;}
/******************************/
.plan_rule {width: 350px; background:#fff; padding:2px; border:1px solid #ccc; margin-top: 5px; float: left;}
.plan_rule .inner { padding:0 3px !important;}
.plan_rule .content { clear:none !important;}
.plan_rule .inner a.link {color:#6d85bf; font-size:12px;}
.plan_rule .inner a { padding:0 5px; color:#6d85bf; line-height:25px !important; font-size:13px;}
.plan_rule .inner a:hover { text-decoration:underline; color:#236BDE;}

.plan_rule .inner {padding:0 3px 3px 3px !important;}
.plan_rule h1 { color:#333; font-size:13px; border-bottom:1px solid #ddd; width:100%; height: 30px; line-height: 30px; padding-left: 2px; font-weight: bold;}

.plan_rule_list { height:112px; overflow-y:auto; border:1px solid #E6E6E6; padding: 3px; margin-bottom: 5px; background:#fff;}
.plan_rule_list dl dt {width:auto !important;}

.plan_rule_01 { background:#fefef2; border:1px solid #e5d69a;  box-shadow:0 2px 4px rgba(0,0,0,0.2);} /* 正在添加学习条件时样式 */
.plan_rule_01 h1 { color:#846920;}

.col_list_50 { width:100%;}
.col_list_50 dl { width:49%; float:left;}
/******************************/
.main_div {display: inline-block; width:100%; margin-bottom: 10px;}
.analysis_pic .title {padding:5px 0; border-bottom:1px solid #d6d6d6; margin-bottom:10px; margin-top: 10px;}
.analysis .article_title { margin-bottom:10px;}
/******************************/
.article_detail {}
.detail_title {}
.detail_title h1.article_title { text-align:center; border-bottom: 1px solid #D6D6D6; font-size:15px; color:#6d85bf; height: 35px; line-height: 35px;}
.detail_title div.title_detail {text-align:center; margin:5px 0;}
.detail_title div.title_detail ul {}
.detail_title div.title_detail ul li { display:inline-block; margin:0 10px;}
.article_body {margin-top:10px;}

dl.dd { display:inline; margin-right:13px;}
dl.dd dt { display:inline;}
dl.dd dd { display:inline;}


/******************************/
#footer {
	/*float: left;*/
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #C5C5C5;
	text-align: center;
	margin-top:10px;
}
#footer a { color:#C5C5C5}
/******************************/
.action_toolbar {
	white-space:nowrap;
	height:23px;
	width:auto !important;

	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	display:none;
	position:absolute;
	right:206px;
	top:-18px;
	right:-4px\9\0;
	_right:-5px;
+right:-4px; 	margin-top:-35px !important;
	_margin-top:-60px  !important;
	_min-width:100px !important;
	/* top5px; [top:5px;top:10px; //for ch /add 2012 11 19  _top:-50px; 2012 11 19 update [top:5px;top:10px;  +top:-64px;*/
 /*+margin-top:5px !important; top:5px;  +top:-40px; top:20px\9\0;  _top:-50px;right:2px\9\0; padding:0;z-index:10000;*/
 +margin-top:-8px !important; top:-5px;  +top:-40px; top:8px\9\0;  _top:-55px;right:2px\9\0; padding:0;z-index:10000;
}

.action_toolbar .inner {}
.action_layout_left {
	float:right; display:inline-block;
	width:10px; height:10px; text-align:right;
	background:url(../images/action_toolbar_right.png) no-repeat bottom left;
	position:absolute; top: 18px; right: -6px;
	_top:0px; _margin-top:12px;
}
.action_layout_right {margin-right:10px !important; padding:0 5px;}
 /*add 2012 12 03 font-size: 13px; font-family: 宋体, arial; font-weight:normal;*/
.action_link {_height:24px; padding:0 2px; font-size: 13px;  
    font-family: 宋体, arial; font-weight:normal;}
.action_link a, .action_link a:link {color:#555 !important; margin:0 3px;}
.action_link a:hover {color:#003ebc !important; text-decoration:none;}
/******************************/
h1.main_title { border-bottom: 1px solid #E6EBF2; color: #333; font-size: 15px; height: 35px; line-height: 35px;}

h2.title { color:#000; height:25px; line-height:25px; border-bottom: 1px solid #E6EBF2; background:none !important; padding-bottom:3px;}
h2.title .left { float:left; height:25px; line-height:25px; color:#000; font-weight:bold;}
h2.title .right { float:right; height:25px; line-height:25px; }
h2.title .more_block { display:inline-block;}
/* 更多文字 */
h2.title .more_block .more_txt { float:left; margin-right:3px; color:#6d85bf;} /* float可以切换图标显示在左或右边 */
h2.title .more_block:hover .more_txt {color:#236BDE; text-decoration:underline;}

.statistics_box{ margin:0 auto; width:800px; height:396px;}
.statistics_title{ float:left; padding-top:5px; width:82px; height:28px; background-image:url(../images/img/statistics/statistics_title.gif); margin-left:30px; font-size:16px; color:#1e70cd; text-align:center;}
.statistics_menu{}
.statistics_menu_box1{ float:right;height: auto;  margin-top:15px;_margin-top:14px; margin-right:20px;}
.statistics_menu_box1 ul{ margin:0; padding:0; list-style-type:none;}
.statistics_menu_box1 li{ float:left; margin:0 10px; padding-top:5px;}
.statistics_menu_box1 li a:visited{ color:#999;}
.statistics_menu_box1 li a:link{ color:#999;}
.statistics_menu_box1 li a:hover{ color:#6d85bf; text-decoration:none;}
#statistics_menu_btn1{ float:left; width:69px; height:24px; font-size:14px; padding-top:5px; color:#236BDE; font-weight:bold;text-align:center; background-image:url(../images/player_bottom_menu_bg.gif);background-repeat:no-repeat;}
#statistics_menu_btn1 a:visited{ color:#236BDE;}
#statistics_menu_btn1 a:link{ color:#236BDE;}
#statistics_menu_btn1 a:hover{ color:#236BDE;}
#statistics_menu_btn2{background-image:url(../images/tab_btn_bg.gif); float:left; height:27px;_height:26px; margin-top:1px;_margin-top:2px; background-color:white; font-size:14px;padding-top:0px;   border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-top:1px solid #e5e5e5; color:#236BDE; font-weight:bold;text-align:center;_width:auto !important; _width:50px; white-space:nowrap;}
#statistics_menu_btn2 a{ display:block; border-left:1px solid #fff;border-top:1px solid #fff;border-right:1px solid #fff;  padding-left:5px; _padding-left:5px; _text-align:center; padding-right:5px;color:#236BDE;  height:100%;}
#statistics_menu_btn2 a a:visited{ color:#236BDE;}
#statistics_menu_btn2 a a:link{ color:#236BDE;}
#statistics_menu_btn2 a:hover{ color:#236BDE;}
.statistics_head{ float:left; margin:0 auto; width:796px; height:44px; _height:10px;background-image:url(../images/img/statistics/statistics_tab_line.gif);}
.statistics_content{ float:left; margin:0 auto;padding-left:10px; padding-right:10px; width:774px; padding-top:10px; padding-bottom:10px; height:auto !important; background-color:#fcfcfc; border-bottom:1px solid #d6d6d6; border-left:1px solid #d6d6d6; border-right:1px solid #d6d6d6;}

.statistics_content ul{ list-style-type:none; padding:0; margin:0; width:774px; word-break:normal;}
.statistics_content li{ float:left; font-size:12px; padding-right:10px;  *padding-right:5px; _padding-right:5px; margin-top:10px; white-space:nowrap;
}
/* *padding-right:5px; _padding-right:5px; 2012 11 21 add*/
.statistics_content li span{ font-size:12px;}
.statistics_icon{ float:right; margin-top:3px;_margin-top:5px; margin-right:0;}
.icon_del2 {background:url(../images/icon/icon_del2_normal.png) no-repeat center center; width:19px; height:19px; display:inline-block; position:relative; *position:static; top:3px; *top:-2px; padding:0 3px; z-index:200;}
.statistics_content_title{ float:left; font-size:16px; width:100%; text-align:center;}
.statistics_content_info{float:left; margin:0 auto; width:100%; text-align:center; border-bottom:1px solid #e5e5e5;}
.statistics_content_info span{ color: #b0b0b0; font-size:12px;}
.statistics_num_bg_left{ width:9px; height:18px;margin-top:3px;  background-image:url(../images/img/statistics/statistics_num_bg_left.gif);}
.statistics_num_bg_mid{ line-height:18px;  font-size:11px;height:18px; _height:19px; padding-left:8px; padding-right:8px;  background-image:url(../images/img/statistics/statistics_num_bg_mid.gif); margin-top:3px;}
.statistics_num_bg_right{ width:3px; height:18px; margin-top:3px; background-image:url(../images/img/statistics/statistics_num_bg_right.gif);}
.statistics_search_box{ float:left; width:774px; height:auto; margin-top:8px;}
.statistics_search_icon{ margin-top:3px; margin-right:5px; width:17px; height:21px; background-image:url(../images/img/statistics/statistics_search_icon.gif);}
.statistics_search_title{ font-size:15px; color:#000;}
.statistics_search_con{ float:left; width:774px; height:auto; _margin-bottom:5px; margin-top:7px; }/*2012 11 21 add _margin-bottom:5px;*/
.statistics_search_con span{position: relative;  *bottom:5px; _bottom:5px;}/*2012 11 23 add */
.statistics_search_con input{ height:22px; line-height:22px;} /*2012 11 23 add */

.no_page_box{ margin:0 auto; height:311px;width:800px;}
.no_page_title{ padding-top:35px; float:left; width:746px; height:28px; margin:0 27px; border-bottom:1px solid #b2b2b2; font-family: Arial, Helvetica, sans-serif; font-weight:bold;font-size:32px; color:#ff7300;}
.no_page_title_text{ font-family:"宋体"; font-size:16px; font-weight:bold;}
.no_page_con{ float:left;width:746px; height:atuo !important; margin:0 27px; margin-top:5px; color:#000;}
.no_page_icon{ float:right; margin-right:80px; margin-top:25px; width:109px; height:188px; background-image:url(../images/no_page_icon.gif);}
.no_page_left_text{ float:left; width:510px; }
.no_page_left_text h1{ color:#000; padding-bottom:5px;}
.no_page_backindex_btn{ float:left; width:174px; height:49px; padding-top:15px;}
.no_page_left_text span{ color:#ff7300;}
.no_page_left_text span a:visited{ color:#ff7300;}
.no_page_left_text span a:link{ color:#ff7300;}
.no_page_left_text span a:hover{color:#ff7300; text-decoration:underline;}

.mar_tb5{ margin:5px 0;}
.border_1ccc{ border:1px solid #ccc;}
.pageTable tr{}
.pageTable td{ height:26px !important; padding:4px 5px !important;}
.index_icon_1{ width:9px; height:9px; padding-right:4px; }
.index_icon_2{ width:16px; height:16px; padding-right:4px; }
.index_icon_3{ width:21px; height:14px; padding-right:4px; }
.index_icon_4{ width:15px; height:15px; padding-right:4px; }
.quick_link{ float:left; height:32px; line-height:30px;*padding-top:1px; color:#0073ff; margin-left:15px;}
.menuContent input{ border:1px solid #ccc; margin-top:2px\9\0;}
.popup_quick_link{ width:468px;*width:465px; height:210px; height:auto !important; min-height:210px; position:absolute;left:660px; background-color:#fffbf0; border:1px solid #f0f0f0; z-index:1000;  top:135px; float:left;}
.popup_arrow_01{ width:25px; height:13px; background-image:url(../images/popup_arrow_01.jpg); background-repeat:no-repeat; position: absolute; z-index:1500;  left:35px; *left:30px;top:-13px}
#popup_quick_link_text{ width:448px;*width:445px; height: auto !important;  padding-left:10px;padding-right:10px; padding-top:5px;padding-bottom:10px;}
#popup_quick_link_text h1{ font-weight:bold; margin:0; color:#000;}
#popup_quick_link_text ul{padding:0; margin:0; list-style-type:none; }
#popup_quick_link_text li{ float:left; margin:0; padding:0; line-height:16px; padding:0 2px; color:#666;}
#popup_quick_link_text li a:visited{ color:#666;line-height:16px;}
#popup_quick_link_text li a:link{ color:#666; line-height:16px; margin-top:0;padding-top:0;}
#popup_quick_link_text li a:hover{color: #69F; line-height:16px;}
.fontsize10{ font-size:10px;}
.popup_quick_box{ float:left; height:18px;height:auto !important; min-height:18px !important; _height:18px; border-bottom:1px dotted #CCC; margin-bottom:5px !important; padding-bottom:3px;}
.col_left_01{width:50%;}

/*custom_style2*/

.item_block {width:240px;_width:236px; height:160px; /* background:#FFCC99; */}
.item_block .block_inner { background:none !important; width:auto !important;}
.item_block .icon { display:none;}
.item_block .content h1 { color:#6d85bf; font-size:15px; border-bottom:1px solid #e9e9e9;}
.item_block .content .menu_inner a {color:#555;}
.item_block .content .menu_inner a:hover {color:#236BDE;}

.item_block .block_inner  { padding:0 5px;}

.~hl {
    height: 160px !important;
}
/*产品信息*/
body.home_page{background: url("../images/line_bg.jpg") repeat-y center; width:100%; text-align: center;}
body.home_page .box{ text-align:left; _margin-left:26px;}
.lanyueW h3{ color: #1994D0!important;}
.lanyueW .describe dt {color: #1994D0!important;}
.lanyueW .describe dl { line-height:24px;}
.lanyueW .item { margin:0 0 18px 0;}
/*ddf 20140110 用户管理--编辑*/
table.df_userCtrl{ width:550px; line-height:32px; height:auto; margin-left:20px;}