/* 弹出信息框 */
.popup {
	background:#fdf8e2; border:1px solid #f0c36d; padding:2px; box-shadow:0 2px 4px rgba(0,0,0,0.2); position:absolute; z-index:9999;
	color:#222;
	_margin-left:-70px; _margin-top:25px; _width:280px;
	border-radius:3px;
}


.popup .left { float:left; font-size:13px; color:#222; line-height: 180%;}
.popup .right { float:right; width:21px; height:21px;}
.popup .inner { padding:1px 3px !important;}
.popup .more_block { display:inline-block;}
.popup .inner a.link {color:#6d85bf; font-size:12px;}
.popup .inner a { /* padding:0 5px; color:#6d85bf; line-height:25px !important; font-size:12px; */}
.popup .inner a:hover { text-decoration:underline; color:#236BDE;}
/* 关闭按钮 */
.close_btn 		{
	display:block; padding:0 !important;
	width:21px; height:21px;
	background:url(../images/button/closeBtn_normal.png) no-repeat;
	position:relative; top:0px;
	margin-left: 2px;
}

.close_btn:hover {
	/* background:url(../images/button/closeBtn_down.png) no-repeat; */
	background:url(../images/button/closeBtn_down2.png) no-repeat;
}

/******************************/
.popup_tick { background:#eeffeb url(../images/popup_bg_01.png) repeat-x bottom; border:1px solid #5bd749;}
.popup_error { background:#fff1f1 url(../images/popup_bg_02.png) repeat-x bottom; border:1px solid #f9a0a0;}

.popup_tick .left { line-height:35px;}
.popup_error .left { line-height:35px;}


/* 弹出框大ICON */
.popup .icon_big {width:32px; height:32px; float:left; margin-right:5px; margin-left: 2px; position: relative; top: 4px;}
.icon_info_big, .popup .icon_big  { width:32px; height:32px; background:url(../images/icon/icon_info_big.png) no-repeat; position:relative;}
.icon_tick_big, .popup_tick .icon_big { width:32px; height:32px; background:url(../images/icon/icon_tick_big.png) no-repeat; position:relative;}
.icon_error_big, .popup_error .icon_big { width:32px; height:32px; background:url(../images/icon/icon_error_big.png) no-repeat; position:relative;}

/* 大图标在单选文字时定位 */
.popup_tick .icon_big { top:1px;}
.popup_error .icon_big { top:1px;}

/* 关闭按钮在单行文字时定位 */
.popup_tick .close_btn { top:7px;}
.popup_error .close_btn { top:7px;}

/******************************/
/* 弹出框箭头 */
.popup_arrow {
	width:11px; height:17px; display:block; position:absolute;
}
.popup_arrow_up {
	background:url(../images/popup_arrow_top.png) no-repeat;
	position: absolute; left:0; margin-top: -10px; margin-left: 10px; 
}
.popup_arrow_down {
	background:url(../images/popup_arrow_down.png) no-repeat;
	position: absolute; right:0; bottom:0; margin-bottom: -17px; margin-right: 10px;
}

.popup_arrow_left {
	background:url(../images/popup_arrow_left.png) no-repeat;
	position: absolute; left:0; margin-left: -7px; margin-top: 7px;
}







